.info{
    background:rgb(202, 219, 218);
    width:60%;
    margin: auto;
    text-align: center;
  }
  
  body{
    margin-top: 0px;
  }
  
  #whatsapp{
  margin-left: 30px;
  margin-right: 30px; 
  }
  
  .piepage{
   background:rgb(202, 219, 218);
  }
  