#box{
  width: 100%;
  height: 50px;
  background-color: #cfdfdd;
  font-family: serif;
  color: #052049;
  font-size: 14pt;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedor_logoslogan{
  height: 100px;
  width: 100%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-center;

}

.logo{
  width: 300px;
  height: 50px;
  font-family: 'Krona One', sans-serif;
  font-size:20pt;
  color: rgb(6, 216, 216);

}


.slogan{
  width: 300px;
  height: 50px;
  font-family: 'Krona One', sans-serif;
  font-size:25pt;
}

section{
  width: 100%;
  height: 500px;
  
  
  }
  
  
  .imagenbanner{
  width: 100%;
  height: 300px;
  background-image: url(imagenes/bannerplayita.png);
  background-color: rgb(141, 218, 241); 
  background-size: cover;
  padding: 100px 0px 0px 0px;
  }



  
  .covid{
      background-color: #d24040;
      background-image: -webkit-linear-gradient(0,#dd4b39,#d24040);
      border-radius: 4px;
      display: flex;
      justify-content: center;
      width: 16%;
      padding: 4px;
      letter-spacing: 0.5px;
      margin-left: 30px;
      margin-top: 20px;
  }
  
  .covidimg{
      display: flex;
      justify-content: center;
      border: 0;
  }
  
  .logocovid{
    text-decoration: none;
    color: white;
    font-size: 12px;
    line-height: 16px;
  }
  
  .fechas{
    margin-top: 10px;


  }
  .fsalida{
   background-color: white;
   margin-left: 40%;
   display: inline-block;
   padding: 10px;
  }
  
  #salida{
  border-color: white;
  border-style: none;
  }
  
  .fllegada{
   background-color: white;
   float: right;
   margin-right: 100px;
   padding: 10px;
  }
  
  #llegada{
  border-color: white;
  border-style: none;
  }

  seccion{
  width: 100%;
  height: 500px;
  }
  
  /*
  .ciudades{
    margin-top: 100px;
  }
  
  .nuqui{
    display: inline-block;
    width: 270px;
    margin-left: 70px;
  }
  
  .cristal{
    float: right;
    width: 270px;
  }
  
  .leticia{
    float: right;
    width: 270px;
  }
  
  .guajira{
    float: right;
    width: 270px;
  }
  
  #dia{
    display: block;
  }
  
  #luna{
    display: block;
  }
  
  #precio{
    display: block;
  }
  
  #cama{
    display: block;
  }
  
  
  .piepage{
   background:rgb(202, 219, 218);
  }*/
  